header {
    position: sticky;
    display: flex;
    width: 100%;
    height: 80px;
    background: black;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header > a > img {
    padding-left: 1em;
}



@media screen and (min-width: 1024px) {
    header {
        padding-left: 2em;
    }
    header > a > img {
        padding-left: 0;
    }
}