.works-container {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0;
  text-align: right;
}

.works-container-card {
  display: contents;
}

.works-container-description h3 {
  text-align: center;
}

.works-container-description h5 {
  display: none;
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
  line-height: 3;
}

.works-container-description p {
  display: none;
  font-size: 1.25rem;
  margin: 0;
}

.works-container-card img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 36px;
}

#container {
  perspective: 100px;
  /* Set the perspective for the container */
}

#inner {
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  /* Make the image fill the container */
  /* Add a smooth transition for the transform property */
}

@media (min-width: 850px) {
  .works-container-card {
    display: grid;
    grid-gap: 2rem;
    grid-auto-rows: 3rem;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    padding: 0;
    
  height: 100vh;
  justify-content: center;
  }
  .works-container-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: span 6;
    grid-row-end: span 6;
    padding: 0;
  }
  .works-container-card a {
    grid-column: span 6;
    grid-row-end: span 6;
    padding: 0;
    perspective: 25px;
  }
  .works-container-card img {
    width: auto;
    height: 90%;
    aspect-ratio: auto;
  }

  .works-container-description h3 {
    text-align: right;
  }
  .works-container-description h5 {
    display: block;
  }

  .works-container-description p {
    display: block;
  }
}
