.contact {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 1rem;
}

.contact p {
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0;
    color: #fff;
    font-family: var(--font-family-secondary);
}

.contact h1 {
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    margin: 0;
    color: #fff;
    cursor: pointer;
    width: fit-content;
}

.contact h1 {
    display: inline-block;
    position: relative;
    color: #fff;
  }
  
  .contact h1:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 1s cubic-bezier(0.4,0,0,1);
  }
  
  .contact h1:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }