.hero-section {
    width: calc(100vw - 2 * 3.125rem); /* Subtract left and right margin */
    height: calc(100vh - 2 * 3.125rem); /* Subtract top and bottom margin */
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 1.25rem;
    margin: 3.125rem; /* Add margin around the grid */
}

.hero {
    position: relative;
    grid-column: 1 / 9;
    grid-row: 4 / 6;
    
}

.hero-h1-container {
    position: absolute;
    bottom: 0;
    color: #fff;
    z-index: 1;
}

.hero-h1 {
font-size: 3.5rem;
line-height: 85.214%;
margin: 0;
font-weight: 500;
overflow: hidden;
}

.hero-h1 .letter {
    display: inline-block;
    line-height: 1em;
  }

.hero-image {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    grid-column: 1 / 9;
    grid-row: 5 / 8;
    visibility: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 500px;
  overflow: hidden;
}