.menu {
    position: absolute;
    bottom: 3.125rem;
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    padding-inline: 3.125rem;
}

.menu a {
    font-size: 1.25rem;
}