.works {
  grid-column: 1 / 9;
  grid-row: 3 / 8;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  font-size: 3.5rem;
  font-stretch: condensed;
}

.design-text,
.web-text,
.photo-text,
.video-text {
  line-height: 85.214%;
  margin: 0;
  font-weight: 500;
  overflow: hidden;
}

.design-text .letter {
  display: inline-block;
  line-height: 1em;
}

.web-text .letter {
  display: inline-block;
  line-height: 1em;
}

.photo-text .letter {
  display: inline-block;
  line-height: 1em;
}

.video-text .letter {
  display: inline-block;
  line-height: 1em;
}

.menu {
  font-family: "bahnschrift", sans-serif;
  font-stretch: normal;
  position: fixed;
  bottom: 3.125rem;
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
  width: -moz-available;
  padding-inline: 3.125rem;
  mix-blend-mode: difference;
  font-weight: 400;
  z-index: 100;
}

.menu.photo {
  mix-blend-mode: normal;
}

.menu a {
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .menu {
    justify-content: center;
    gap: 5vw;
  }
  .works {
    font-size: 4rem;
  }
}
