.project-wrapper section {
  position: sticky;
  top: 0;
  width: calc(100% - 2 * 3.125rem); /* Subtract left and right margin */
  height: calc(100vh - 2 * 3.125rem); /* Subtract top and bottom margin */
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 1.25rem;
  padding: 3.125rem; /* Add margin around the grid */
}

.project-container1 {
  background-color: #020202;
  z-index: 1;
}

.project-container1 h2 {
  font-size: 3.5rem;
  grid-row: 3/4;
  grid-column: 1/9;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.project-image-main {
  grid-row: 4/8;
  grid-column: 1/9;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.project-container2 {
  background-color: #ffffff;
  z-index: 2;
}

.project-image-second {
  grid-row: 3/8;
  grid-column: 1/9;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.project-image-second-desktop {
  display: none;
}

.project-container3 {
  background-color: #020202;
  z-index: 3;
}

.project-content {
  grid-column: 1/9;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1.25rem;
  color: #ffffff;
}

.project-content h4 {
  font-size: 1.5rem;
  grid-column: 1/5;
  text-align: right;
  text-transform: uppercase;
  margin: 0;
}

.project-content h5 {
  font-family: var(--font-family-secondary);
  font-weight: 300;
  font-size: 1.5rem;
  grid-column: 5/9;
  text-align: left;
  margin: 0;
  text-transform: capitalize;
}

.project-designer {
  grid-row: 4/5;
}

.project-client {
  grid-row: 5/6;
}

.project-softwares {
  grid-row: 6/7;
}

.project-date {
  grid-row: 7/8;
}

.project-container4 {
  background-color: #ffffff;
  z-index: 4;
}

.project-image-sketches {
  grid-row: 3/8;
  grid-column: 1/9;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.project-container5 {
  background-color: #020202;
  z-index: 5;
}

.project-image-final {
  grid-row: 3/8;
  grid-column: 1/9;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.project-web-final {
  grid-row: 3/8;
  grid-column: 1/9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  position: relative;
}

.project-web-final img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.project-web-final p {
  margin: 0;
  font-family: var(--font-family-secondary);
  font-weight: 300;
  text-transform: capitalize;
  font-size: 1.5rem;
}


.project-video-final {
    grid-row: 3/8;
    grid-column: 1/9;
    aspect-ratio: 16/9;
    background-color: #ffffff;
}

.project-container6 {
  background-color: #fff;
  z-index: 6;
}

.project-content-final {
  grid-row: 2/9;
  grid-column: 1/9;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
}

.project-content-final p {
  margin: 0;
}

.project-download {
  display: flex;
  color: #000000;
  text-transform: uppercase;
  border: 1px solid #000000;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  gap: 0.5rem;
  font-family: var(--font-family-secondary);
}

.project-download:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

.project-download:hover object {
  filter: invert(1);
}

#randall .project-image-main {
  background-image: url(/assets/img/design/randall/randall.png);
}

#randall .project-image-second {
  background-image: url(/assets/img/design/randall/randall-synopsis.svg);
}

#randall .project-image-second-desktop {
  background-image: url(/assets/img/design/randall/randall.png);
}

#randall .project-image-sketches {
  background-image: url(/assets/img/design/randall/randall-sketches.png);
}

#randall .project-image-final {
  background-image: url(/assets/img/design/randall/randall-final.png);
}

#randall .project-image-dsketch1 {
  background-image: url(/assets/img/design/randall/randall-illustrator.png);
}

#randall .project-image-dsketch2 {
  background-image: url(/assets/img/design/randall/randall-fontlab.png);
}

#chapelle .project-image-main {
    background-size: cover;
  background-image: url(/assets/img/video/chapelle.jpg);
}

#apartment .project-image-main {
    background-size: cover;
  background-image: url(/assets/img/video/apartment.png);
}

#webtv .project-image-main {
    background-size: cover;
  background-image: url(/assets/img/video/jpo-webtv.jfif);
}

#course .project-image-main {
    background-size: cover;
  background-image: url(/assets/img/video/cardnf.png);
}

#pierre .project-image-main {
    background-size: cover;
  background-image: url(/assets/img/web/pierrelogo.svg);
}

#realistic .project-image-main {
    background-size: cover;
  background-image: url(/assets/img/web/realisticlogo.svg);
}

#thg .project-image-main {
    background-size: cover;
  background-image: url(/assets/img/web/thglogo.svg);
}

@media screen and (min-width: 768px) {
  .project-image-main {
    grid-column: 3/7;
  }

  #randall .project-image-main {
    background-image: url(/assets/img/design/randall/randall-desktop.svg);
  }

  .project-image-second-desktop {
    grid-row: 3/8;
    grid-column: 3/5;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .project-image-second {
    grid-column: 5/7;
  }

  .project-image-sketches-container {
    grid-row: 2/9;
    grid-column: 3/7;
    display: flex;
    gap: 1.25rem;
  }

  .project-image-dsketch1 {
    width: 100%;
    height: 100%;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .project-image-dsketch2 {
    width: 100%;
    height: 100%;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .project-image-sketches {
    display: none;
  }

  .project-image-final {
    grid-column: 4/6;
  }

  .project-web-final {
    grid-column: 3/7;
  }

    .project-video-final {
        grid-column: 3/7;
    }

  .project-content-final {
    grid-column: 4/6;
  }
}
